@inherits LayoutComponentBase

<PageTitle>AlexPiBlazor</PageTitle>

<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <main>
    <div class="top-row px-4">
      <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

      <NavLink class="nav-link" href="counter">
        <span class="oi oi-plus" aria-hidden="true"></span> Contact
      </NavLink>
      <NavLink class="nav-link" href="counter">
        <span class="oi oi-plus" aria-hidden="true"></span> About
      </NavLink>
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>
